.container{
    display:flex;
    justify-content: start;
    align-items: start;
    flex-flow: column nowrap;
    background-color: green;
    min-width: 40%;
    
    border: 5px solid white;
  }
  
  