main{
  background-color: lawngreen;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  
}

.main_small_logos{
  background-color:red;
  align-items: left;
  padding: 1rem;
  min-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap:1rem;
  opacity: 90%;

  @media screen and (max-width: 600px) {
    align-items: left;
  padding: 0.5rem;
  min-width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap:1rem;
  opacity: 90%;
    }
}

.main_recipe_section{
  
  align-items: left;
  padding: 1rem;
  min-width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap:0.5rem;

}

.main_recipe_section_h{
 
  font-size: 24px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px solid gray;
}

.main_recipe_section_p{
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ing-container{
  display:grid;
  grid-template-columns: 5fr 1fr;

  @media screen and (max-width: 600px) {
    display: grid;
    flex-direction: row;
    max-width: 100%;
    justify-content: left;
    align-content: left;
    }
  
}

.recipe-table,th,tr{
  padding:0.1rem;
  font-size: 8px;
  text-align: left;
}

.recipe-time{
  font-size: 10px;
  flex-wrap: nowrap;
}

